/*--------Base Structure--------*/

body {
  font-family: "Cardo", serif;
  background-color: #484d5c;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #bdbebf;
}

header {
  position: sticky;
  /*border-bottom: 1px solid #e2e8f0;*/
}

/*--------Navbar---------*/

nav {
  text-align: right;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  height: 120px;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ffce00;
}

.nav-link:hover {
  color: black;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #ffce00;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/*---------Main Grid System---------*/

.wrapper {
  /*background: #eee;*/
  padding: 0em 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
  grid-auto-rows: minmax(100px, auto);
  justify-items: stretch;
  align-items: stretch;
  color: #bdbebf;
  height: 1200px;
}

.wrapper > div {
  padding: 1em;
}

/*.wrapper > div:nth-child(odd) {
  background: #c0ccd4;
}*/

#box1 {
  background-image: url(images/pexels-philippe-donn-1257860.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 15px;
  font-size: 1.5em;
}

#box2 {
  background-image: url(images/pexels-emma-blackbourn-3789449.jpg);
  background-size: cover;
  border-radius: 15px;
  font-size: 1.5em;
}

#box3 {
  background-image: url(images/sea-4492536_1920.jpg);
  background-size: cover;
  border-radius: 15px;
  font-size: 1.5em;
}

#box4 {
  background-image: url(images/pexels-olenka-sergienko-5345029.jpg);
  background-size: cover;
  border-radius: 10px;
  font-size: 1em;
  color: #bdbebf;
  height: 80px;
}

/*--BUTTONS--*/

button {
  background-color: transparent;
  border: solid;
  border-color: #bdbebf;
  padding: 8px 18px;
  font-size: 1em;
  color: #bdbebf;
  margin-top: 1em;
}

/*--Footer--*/

.nav-item-foot {
  margin-left: 6em;
  margin-right: 6em;
  margin-bottom: 1em;
  margin-top: -80px;
}

.nav-menu-foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  margin: auto;
}
